body {
    font-family: sans-serif;
    background-color: #1e703c;
    width: 100%;
    min-height: 90vh;
}
h1, h2, h3, h4, h5, h6 {
    color: black;
}

.app-header {
    width: 100%;
    height: 60px;
    margin: auto;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.content{
    width: 100%;
    min-height: 100%;
}

#tit {
    color: #F2BB05;
    text-align: center;
    width: 100%;
    padding: auto;
    margin: auto;
    display: inline-block;
    z-index: -1;
    font-family: 'Lobster', cursive; 
    font-size: 46px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 0 0 18px; 
    text-shadow: 1px 0 0 #fff;
  /* height: 40px;  */
  /* width: 0%; */
  
}

#tit:hover {
    /* hardcoded */
  color: red;
    /* width: 300px;  */
    transition: width 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1)
  }

  #descr:hover {
    /* font-size: 72px; */
  background: -webkit-linear-gradient(rgb(154, 221, 238), rgb(12, 11, 11));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: #F2BB05; */
    /* width: 300px;  */
    transition: width 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1)
  }

#descr{
    font-size: 12px;
    /* position: absolute; */
    margin: auto;
    padding: 10px;
    line-height: 48px;
    font-size: 18px;
    font-style: italic;
    /* padding-left: 50%; */
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aquamarine;
}


#sidebar{
    width: 20%;
    min-height: 90vh;
    border-right: 2px solid lightgrey;
    float: left;
    /* background-color: #164627; */
}

#rightbar{
    width: 79%;
    /* border: 2px solid black; */
    min-height: 90vh;
    float: right;
}

#footer{
    width: 100%;
    min-height: 10vh;
    clear: both;
    border-top: 2px solid lightgrey;
    background-color: #2e5f4f;
    justify-content: center;
}



#love_em h6{
    display: inline;
    color: white;
    font-size: 20px;
}

#love_em{
    margin: auto;
    width: 40%;
    position: relative;
    padding: 20px;
}



#upload-data{
    /* width: '100%', */
    height: '60px';
    border: 1px dashed black;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    line-height: 60px;
    background-color: rgb(236, 236, 236);
            
}

#wicon{
    width: 10em;
    height: 10em;
}


.tab-1{
    background-color: darkcyan;
}

#display_table{
    width: 100%;
}

.meta{
    color: aquamarine;
    font-size: 20px;
    border: 1px solid brown;
    background-color: rgb(207, 113, 113);
    display: inline;
    padding: 3px;
    margin: 10px;
    font-weight: bold;
}

#dstamp{
    float: right;
}

#filename{
    float: left;
}




/* #love_em{
    flex: content;
    flex-direction: row;
    flex-flow: row;
} */